/* Import Google font - Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titel {
  margin-bottom: 2em;
}
.titel h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 8em;
  color: white;
  max-width: 1100px;
  margin: auto;
  white-space: nowrap; /* Voorkomt dat de tekst op meerdere regels wordt weergegeven */
  overflow: hidden; /* Verbergt de overlopende tekst */
  animation: revealText 4s linear forwards; /* Start de animatie */
}

/* Keyframes voor de animatie */
@keyframes revealText {
  0% {
    width: 0; /* Begin met een breedte van 0 (tekst is verborgen) */
  }
  100% {
    width: 100%; /* Eindig met de volledige breedte (tekst is volledig zichtbaar) */
  }
}
.container {
  padding: 0 35px;
  min-height: 100vh;
  background: #252525;
  background: linear-gradient(90deg, #252525 0%, #636262 64%, #888888 100%);
  background: -moz-linear-gradient(90deg, #252525 0%, #636262 64%, #888888 100%);
  background: -webkit-linear-gradient(90deg, #252525 0%, #636262 64%, #888888 100%);
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.wrapper button {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: relative;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper button:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper button:first-child{
  left: -22px;
}
.wrapper button:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4 ) - 12px);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  color: black;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 380px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: black;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card a {
  margin-top: 1em;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.carousel{
    width: 100em;
}
@media screen and (max-width: 1000px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  .titel h1 {
    font-size: 4em;
  }
}